/* Definicion de variables con colores */

$blanco =      #fff
$negro =       #000
$gris-claro =  #e5e5e5
$gris-oscuro = #bababa

/* Colores categorias */

$cat-1 = #A3BF3E
$cat-2 = #D93C29
$cat-3 = #037368
$cat-4 = #901E48
$cat-5 = #3E1315
$cat-6 = #F0B850
$cat-7 = #0E4B68

/* Colores botones e iconos */

$B1 = #6DBE45
$B2 = #1777BD
$B3 = #379345

