/* Import nib*/
@import "nib"

/* Import fuentes */
@import "fonts"

/* Import icons */
@import "icons"

/* Import colores */
@import "colors"

/* Reset */
h1,h2,h3,h4,h5,h6,p,ul,li
    margin 0
    padding 0

/* Border left */
.border-left
    border-left 1px solid $blanco

/* Uso de extend como clase global */
.style-inline
    display inline-block
    vertical-align middle

/* Li seleccionado */
.is-selected
    background $B3
    color #fff 
    border-none

/* Contenedor */
section#container
    margin 0 auto
    width 100%
    max-width 1400px

html,body
    height 100%
    
body
    font-size 62.5%
    font-family $open

/* Start module header */
header
    padding 25px 0

    section#container
        h1
            width 19%
            @extend .style-inline

            img
                width 100%
                display block 
        nav
            width 80%
            @extend .style-inline
            text-align right

            ul
                list-style none

                li
                    @extend .style-inline

                    &:last-child
                        a
                            padding 5px 0
                    a
                        text-decoration none
                        color $negro
                        font-size 1.3em
                        font-family "raleway"
                        font-weight 400
                        padding: 5px 10px

                    .box-search
                        border 1px solid #666
                        width 100%

                        input
                            display inline-block
                            padding 4px
                            border none
                            font-size 1.4em
                            outline 0
                            vertical-align middle

                        input[type="submit"]
                            width 25px
                            border-left 1px solid #666
                            font-family "icomoon"
                            background $blanco

/* End module header */

/* Start module section#content */
section#content
    text-align center
    position relative

    /* Start module .order */
    .order
        text-align left
        margin 15px 0

        ul
            list-style none

            li
                @extend .style-inline
                color $negro
                font-size 1.3em
                font-family "raleway"
                font-weight 400

                a
                    text-decoration none
                    padding 5px 10px
                    color $negro
                    background $gris-claro

    /* End module .order */

    /* Start module .wrapper (Card) */

    .wrapper
        background $gris-claro
        cursor pointer
        margin 1% 0.3%
        min-width 190px
        vertical-align top
        width 19%
        @extend .style-inline

        .box-image
            overflow hidden
            width 100%

            img
                display block
                height 150px

        .border
            height 5px
            background $cat-1

        .box-footer
            font-family $roboto
            text-align left
            padding 2%

            h2
                font-size 1.4em
                font-weight 200
                height 38px
                
                strong
                    font-weight 400
            
            h3
                font-size 1.1em
                font-weight 200

    .wrapper-expanded
        border 3px solid $gris-oscuro
        display block
        padding 15px 55px
        position relative
        margin 20px 0

        &:before
            width 0
            height 0
            position absolute
            content ""
            border-left 20px solid transparent
            border-right 20px solid transparent
            border-bottom 20px solid $gris-oscuro
            top -22px
            left 28%
        
        a.exit
            display block
            position absolute
            top 5px
            right 5px
            background $gris-claro
            font-size 3em
            color $gris-oscuro
            text-decoration none
            padding 5px 15px

        .box1,.box2,.box3
            vertical-align top
            width 24%
            font-family $roboto
            margin 0 10px
            @extend .style-inline

            ul
                list-style none

                li
                    a 
                        text-decoration none

        .box1
            width 44%

            .box-image
                position relative
                max-width 192px
                width 50%
                @extend .style-inline
                vertical-align top

                img
                    width 100%
                    display block 
                    height 250px

                ul
                    position absolute
                    left 50%
                    margin-left -50px
                    bottom 8px

                    li
                        @extend .style-inline
                        margin 0 5px 

                        a
                            width 25px
                            height 25px
                            background $cat-6
                            border-radius 25px
                            display block

            .description
                @extend .style-inline
                vertical-align top
                width 44%
                text-align left
                padding-left 2%

                h2
                    font-size 1.6em
                    font-weight 300
                    margin-bottom 15px

                    strong
                        font-weight 400

                h3
                    font-size 1.4em
                    font-weight 200
                    margin 12px 0

                h5
                    font-size 1.2em
                    font-weight 200

                h4
                    font-size 1.4em
                    font-weight 200
                    margin 10px 0

                    &:before
                        content "\66"
                        font-family "icomoon"
                        margin-right 8px
                        font-size 2em
                        vertical-align middle
                        color #197db6

        .box2
            clear both

            a
                text-decoration none
                font-size 1.6em
                padding 5px 10px
                color #000
                background #e5e5e5
                float right
                display block
                font-family $rale

            ul
                margin-top 45px

                li
                    border-bottom 2px solid $gris-oscuro
                    margin-bottom 10px
                    font-size 1.4em
                    font-weight 200

                    span,input
                        display inline-block
                        margin 0
                        padding 0

                    span
                        text-align left
                        width 83%

                     input
                         text-align right
                         width 15%

        .box3
            ul.header-chat
                background $gris-claro
                text-align left
                padding 5px 0

                li
                    background $gris-oscuro
                    display inline-block
                    margin 0 3px

                    a
                        text-decoration none
                        font-size 1.4em
                        padding 5px 10px
                        color #000
                        font-weight 200

            h2
                display block
                background #fff
                color #000
                padding 5px 0
                font-weight 200
                text-align left

            ul.content-chat
                li
                    border-bottom 1px solid #f1f1f1
                    margin 1px 0
                    padding 2px 0

                    >div
                        width 15%
                        @extend .style-inline
                        vertical-align top

                        img
                            display block
                            width 100%
                            height 40px
                    
                    .msj
                        width 62%
                        text-align left
                        margin-left 5px

                        span:first-child
                            font-size 1.3em
                            font-weight 400
                            display block

                        span:last-child
                            font-size 1.2em
                            font-weight 200
                            display block

                    .hour
                        padding 3px 4px

                    &:last-child
                        border-bottom 0


            a.invitar
                text-decoration none
                font-size 1.6em
                padding 10px
                color #000
                background $B1
                display block
                font-family $rale
                







    /* End module .wrapper (Card) */

/* End module section#content */