h1,h2,h3,h4,h5,h6,p,ul,li{margin:0;padding:0}
.border-left{border-left:1px solid #fff}
.style-inline,header h1,header nav,header nav ul li,section#content .wrapper,section#content .wrapper .box-border .box-footer .share ul,section#content .wrapper .box-border .box-footer .share ul li,section#content .wrapper .box-border .box-footer .share h2{display:inline-block;vertical-align:middle}
section#container{margin:0 auto;width:100%;max-width:1200px}
html,body{height:100%}
body{background:#f1f1f1;font-size:62.5%;font-family:'Open Sans',sans-serif}
header{background:#fff;border-top:10px solid #becede;border-bottom:1px solid #ebebeb;padding:45px;}
header h1{width:20%;max-width:150px;}
header h1 img{width:100%;display:block}
header nav{width:80%;text-align:right;}
header nav ul{list-style:none;}
header nav ul li a{text-decoration:none;color:#999;font-size:1.3em;font-family:"raleway";font-weight:400;padding:5px 10px}
section#content{margin-top:40px;text-align:center;position:relative;}
section#content .wrapper{background:#fff;margin:1%;vertical-align:top;width:20%;-webkit-transition:top 0.5s, left 0.5s;-moz-transition:top 0.5s, left 0.5s;-o-transition:top 0.5s, left 0.5s;-ms-transition:top 0.5s, left 0.5s;transition:top 0.5s, left 0.5s;}
section#content .wrapper h1.title{background:#6bbde8;color:#fff;font-family:'Raleway',sans-serif;font-size:2em;font-weight:200;padding:10px;text-align:center}
section#content .wrapper .box-image{width:100%;}
section#content .wrapper .box-image img{display:block;width:100%}
section#content .wrapper .box-border{border:1px solid #e5e5e5;font-family:'Roboto Condensed',sans-serif;text-align:left;}
section#content .wrapper .box-border .description{padding:5px 7px;border-bottom:1px solid #e5e5e5;}
section#content .wrapper .box-border .description h2{font-size:1.6em;color:#404040;font-weight:400}
section#content .wrapper .box-border .description h3{color:#808080;font-size:1.3em;font-weight:200}
section#content .wrapper .box-border .box-footer{background:#f8f8f8;padding:5px;}
section#content .wrapper .box-border .box-footer .share{text-align:center;}
section#content .wrapper .box-border .box-footer .share ul{list-style:none;}
section#content .wrapper .box-border .box-footer .share ul li{vertical-align:top}
section#content .wrapper .box-border .box-footer .share h2{padding:0 5px 5px;color:#8b8b8b;font-size:1.4em;font-weight:200;}
section#content .wrapper .box-border .box-footer .share h2 .count{color:#6bbde8}
section#content .wrapper .box-border .box-footer .hour{padding:0 5px 5px;color:#404040;font-size:1.3em;font-weight:200}
