/* Import nib*/
@import "nib"

/* Import fuentes */
@import "fonts"

/* Import icons */
@import "icons"

/* Import colores */
@import "colors"

/* Reset */
h1,h2,h3,h4,h5,h6,p,ul,li
    margin 0
    padding 0

/* Border left */
.border-left
    border-left 1px solid $blanco

/* Uso de extend como clase global */
.style-inline
    display inline-block
    vertical-align middle

/* Contenedor */
section#container
    margin 0 auto
    width 100%
    max-width 1400px

html,body
    height 100%
    
body
    background $gris-claro
    font-size 62.5%
    font-family $open

/* Start module header */
header
    background $blanco
    border-top 10px solid #becede
    border-bottom 1px solid #EBEBEB
    padding 45px

    section#container
        h1
            width 20%
            max-width 150px;
            @extend .style-inline

            img
                width 100%
                display block 
        nav
            width 80%
            @extend .style-inline
            text-align right

            ul
                list-style none

                li
                    @extend .style-inline

                    a
                        text-decoration none
                        color #999
                        font-size 1.3em
                        font-family "raleway"
                        font-weight 400
                        padding: 5px 10px;

/* End module header */

/* Start module section#content */
section#content
    margin-top 40px
    text-align center
    position relative

    /* Start module .wrapper (Card) */

    .wrapper
        background $blanco
        margin 1%
        vertical-align top
        width 20%
        transition top 0.5s, left 0.5s
        @extend .style-inline

        h1.title
            background $green
            color $blanco
            font-family $rale
            font-size 2em
            font-weight 200
            padding 10px
            text-align center

        .box-image
            width 100%

            img
                display block
                width 100%

        .box-border
            border 1px solid #e5e5e5
            font-family $roboto
            text-align left

            .description
                padding 5px 7px
                border-bottom 1px solid #e5e5e5

                h2
                    font-size: 1.6em;
                    color: #404040;
                    font-weight: 400;


                h3
                    color: #808080;
                    font-size: 1.3em;
                    font-weight: 200;
                    
            .box-footer
                background #f8f8f8
                padding 5px

                .share
                    text-align left

                    h2
                        padding 0 5px 5px
                        color #8B8B8B
                        font-size 1.4em
                        font-weight 200

                    ul
                        list-style none
                        @extend .style-inline
                        vertical-align top

                        li
                            @extend .style-inline
                            vertical-align top
                    
                    .count
                        margin-left 1%
                        @extend .style-inline
                        color $blue
                        vertical-align top
                        font-size 1.3em
                        font-weight 200

                .hour                   
                    padding 0 5px 5px
                    color #696969
                    font-size 1.3em

                    p:before
                        font-family 'icomoon'
                        content "\e600"
                        font-weight 300
                        margin-right 2%

    /* End module .wrapper (Card) */

/* End module section#content */