/* Import library nib */
@import 'nib'

/* Import normalize */
@import 'normalize'

/* Import Icons*/
@import 'icons'

/* Import Swiper*/
@import 'swiper'

/* Import mediaQueries*/
@import 'mediaQueries'

/*Impor fonts*/
@import 'fonts'

/*Impor buttons*/
@import 'buttons'


*,*:before,*:after
	box-sizing border-box
	
/* Reset */
h1,h2,h3,h4,h5,h6,ul,li,p
	margin 0
	padding 0

html,body
	height 100%
  
body
	font-size 62.5% //for job with fonts in 'em' (10px=1em)
	font-family $rale

.clearfix
	clearfix()

.subtitle
	font-size: 23px;
	color: #686868;
.floatR
	float right
.floatL
	float left