.card
	background $b-card
	margin-bottom 5px
	position relative
	min-height 160px

	.image
		background-position center center
		background-repeat no-repeat
		background-size cover
		height 100px
		width 100%
		border-bottom gray 5px solid

	.title
		font-size 1.4em
		min-height 30px

		b
			margin-left 2px
			font-style italic

	.title,.tag,.address
		padding 0 5px

	.share
		background $b-button-share
		right 5px
		bottom 5px
		position absolute
		width 60px
		padding 10px 0
		text-align center
		font-size 1.2em
		color #fff
	
.cat_1
	.image
		border-color #A3BF3E 
			
.cat_2
	.image
		border-color #D93C29
.cat_3
	.image
		border-color #0E4B68 
.cat_4
	.image
		border-color #F0B850 
.cat_5
	.image
		border-color #C3C400
