.newPlan
	background $b-header
	padding 0
	text-align center

	a
		text-decoration none
		font-size 1.4em
		padding 10px
		color #000
		display block
		border-top 1px solid #ccc
		border-bottom 1px solid #ccc

		&:after
			content "\e605"
			font-family "icomoon"
			margin-left 5px
			font-size 1.5em
			vertical-align middle
			color #444

ul.chat
	list-style none

	li
		position relative
		padding 7px 5px
		border-bottom 1px solid #EBEBEB
		border-right 1px solid #EBEBEB
		cursor pointer
		

		.img-left
			float left
			width 52%
			overflow hidden
			clearfix()

			.box-image
				float left
				margin-left 1px
				width 30px
				height 30px


				img
					width 100%
					display block

		h4
			float left
			width 48%
			text-align right
			font-family $roboto
			font-weight 200
			font-size 1.1em

			span
				display block

				&:last-child
					font-style italic
			.btn
				font-size 12px
				text-align center
				display inline-block
				min-width 90px

		h2
			font-size 1.4em
			font-family $roboto
			font-weight 400
			color #2A2A2A
			clear both
			padding-top 4px	

.colChat
	font-family $roboto
	border-right 1px solid #EBEBEB
	padding-bottom 20px
	padding-left 1%

	h4
		font-size 1.4em
		font-weight 200

		&.share
			margin 5px 0

	h1
		font-size 2.5em
		margin 5px 0 10px
		font-weight 400
		color #353535

	ul
		list-style none

		li
			margin 12px 0

			h3.person
				font-size 1.6em
				font-weight 500
				color #2C2C2C

			h4
				font-size 1.3em
				font-weight 200

			h5
				text-align center
				font-size 1.4em
				font-weight 400
				font-style italic

			.box-carta
				position relative
				margin 7px 0

				.image
					width 190px
					height 80px
					position absolute
					left 0
					top 0
					bottom 0

					img
						display block
						width 100%
						height 90px

				.content
					padding-left 200px
					background $gris-claro
					height 90px

					h2
						font-size 16px
						font-weight 200
						padding 10px 0px 5px


						strong
							font-style italic
							margin-left 2px

					h3
						font-size 1em
						font-weight 200
						margin 3px 0

		.acuerdo
			position relative
			min-height 38px

			span.icono
				font-size 3em
				color #666
				position absolute
				top 0
				left 0
				display block

			span.textoAcuerdo
				padding-left 37px
				font-size 1.4em
				font-weight 400
				font-style italic
				display block			


.boxIcons
	background #f1f1f1
	text-align center
	position absolute
	width 100%
	bottom 100%
	left 0
	z-index 99999
	display none

	ul
		list-style none

		li
			text-align center
			width 75px
			margin 10px 0
			cursor pointer
			display inline-block

			span.titleIcon
				font-size 1.3em
				font-weight 200
				text-align center
				display block
				margin-bottom 5px

			i
				display block
				text-align center
				font-size 2em
				color #666