.filterPage
	display none
	.boxSlide
		padding 20px 0

		h3
			font-size 1.8em
			font-weight 400
			margin-bottom 25px
			vertical-align middle
			font-style italic

		ul
			
			li
				display inline-block
				vertical-align top
				margin-right 0
				width 120px
				margin-bottom 20px

				a
					text-decoration none
					text-align center
					display block

					span.color
						width 40px
						height 40px
						border-radius 50%
						display inline-block
						margin 0 auto

						&.icon-user
							color #333
							font-size 40px

					span.text
						text-align center
						font-size 1.4em
						font-weight 300
						color #666
						display block
						margin-top 5px

	.L2,.L3
		text-align center

		h3
			text-align left

		ul li a span.color
			border-radius 0

