.footer
	display none
	position fixed
	bottom 0
	width 100%

	.btn
		font-size: 32px;
		color: #FFF;
		padding: 5px 0;
		display none
		text-align: center;

.footer.chat
	display block
	z-index 9999

	.btn
		display block
	> div
		display none

	.Input
		padding 5px
		padding-left 55px
		position: relative

		.addIcons
			position absolute
			left 5px
			top 5px
			width 35px
			height 30px
			background #dadada
			border-radius 3px
			font-size: 42px;
			line-height: 33px;
			text-align: center;
			font-weight: 200;		
			overflow hidden	
			color gray
			
		.boxchat
			input
				width 100%
				border 1px solid gray
				font-size 20px