.header
	background $b-header
	padding 5px
	padding-left 45px;
	padding-right 40px;

	.left
		position absolute
		left 5px
		top 5px

		.logo
			border-radius 50%
			background #75B8F7
			width 35px
			height 35px
			padding 6px
			font-size 19px
			text-align center			
			color #fff


		.back
			font-size 34px
			display none
			color #5C5C5C
	.right
		position absolute
		right 0
		top 5px

		.icon
			font-size 34px
			color #8F8F8F
			padding 2px 6px

			&.active
				background #808080

		.menu
			display: none;
			width: 320px;
			min-height: 440px;
			background: #808080;
			z-index: 500;
			position absolute
			right -0
			top 100%
			
			.item,.item2
				font-size 32px
				color #fff
				font-weight 300
				padding 20px
				border-bottom 1px solid #fff


			.item2
				font-size 16px
			.separator
				background #fff
				height 10px

	ul.nav
		list-style none
		overflow hidden

		li
			background none
			padding 10px
			float left
			width 33.33%
			font-size 1.2em
			border-bottom 1px solid $b-header
			text-align center

			&:active,&.active
				background $b-header-button-selected
				border-bottom 1px solid $border-header-button-selected

			&:active
				border-bottom-color $b-header-button-selected

.subheader
	background $b-subheader
	padding 5px
	position relative
	height 40px

	>div
		position absolute
		top 5px
		left 5px
		right 5px
		display none

		&.active
			display block

		input.search
			border-radius 10px
			border none
			background $b-input-search
			font-size 1.2em
			display block
			width 100%
			padding 5px
			color #333
			outline none !important

			&::-webkit-input-placeholder
				color #333


	.descubre
		padding 0 55px 0 65px

		.filter
			background $b-button-filter
			position absolute
			left 5px
			width 50px
			text-align center
			font-size 1.4em
			padding 5px

			ul
				position absolute
				top 100%
				left 0
				z-index 456
				list-style none
				background $b-header
				padding 10px 5px 5px
				width 185px
				display none

				li
					background $b-header-button-selected
					margin-bottom 2px
					border 1px solid #CCCCCC
					padding 8px 15px
					font-size 20px
					text-align center

		div.search
			position absolute
			z-index 1
			right 10px
			font-size 1.4em
			color #727272
			background #C9C9C9
			-webkit-border-radius 3px
			border-radius 3px
			padding 6px 10px
			top 0
	
	.Invite
		.subtitle
			float left
		.right .btn
			font-size 18px

		.listInvite
			clear both
			padding-top 10px

			ul
				list-style none

				li
					width 39%
					float left
					margin-right 1%
					background #F1F1F1
					font-size 18px
					overflow hidden
					color #7A7A7A
					text-align center

					&:last-child
						width 20%
						margin-right 0
		input.search
			margin-top 10px

	.chatPages
		display block
		border-radius 10px
		border 1px solid gray
		overflow hidden

		ul
			list-style none
			clearfix()

			li
				float left
				width 33.33%
				text-align center
				font-size 14px
				padding 5px 0
				font-weight 300
				&:nth-child(2)
					border-left 1px solid gray
					border-right 1px solid gray
				&.active
					background $b-input-search

.header.chat
	.back
		display block
	.title
		margin-left 5%
		span
			font-size 14px
		h2
			font-size 20px
			font-weight normal
.subheader.chat
	height auto
	> div
		position static
		display block
	.page3
		display none
		margin-top 10px