$b-header=#E6E6E6
$b-header-button-selected=#D6D7D8
$border-header-button-selected=#808184

//Subheader
$b-subheader=#E6E6E6
$b-subheader-button-selected=#ACC9AA
$b-input-search=#A1B2A6
$b-button-filter=#ACC9AA

//Card
$b-card=#E6E6E6
$b-button-share=#2A60AB




/**Others*/
/* Definicion de variables con colores */

$blanco =#fff
$negro =#000
$gris-claro =#e5e5e5
$gris-oscuro = #bababa

/* Colores categorias */
cat1 = #A3BF3E
cat2 = #D93C29
cat3 = #037368
cat4 = #901E48
cat5 = #3E1315
cat6 = #F0B850
cat7 = #0E4B68

/* Colores botones e iconos */

$B1 = #6DBE45
$B2 = #1777BD
$B3 = #379345

/* clases categorias */
.cat1
	background cat1 !important

.cat2
	background cat2 !important

.cat3
	background cat3 !important

.cat4
	background cat4 !important

.cat5
	background cat5 !important

.cat6
	background cat6 !important

.cat7
	background cat7 !important

/* clases botones e iconos */

.B1
	background $B1 !important

.B2
	background $B2 !important

.B3
	background $B3 !important
