ul
	li
		span.titleIcon Happy
		i.icon-happy
	li
		span.titleIcon Bubbles
		i.icon-bubbles
	li
		span.titleIcon Image
		i.icon-image
	li
		span.titleIcon Music
		i.icon-music
	li
		span.titleIcon Gift
		i.icon-gift
	li
		span.titleIcon Code
		i.icon-code
	li
		span.titleIcon Like
		i.icon-thumbs-up
	li
		span.titleIcon Mail
		i.icon-mail
	li
		span.titleIcon Tag
		i.icon-tag
	li
		span.titleIcon Share
		i.icon-share
