extends template


block content
	.header
		.left
			.back.icon-arrow-left
		.right
			.icon.icon-th-menu

			.menu
				.item 
					a(href="index.html#descubre") Descubre
				.item
					a(href="index.html#comparte") Comparte
				.item
					a(href="index.html#colecciona") Colecciona
				.separator

				.item2
					a Comentarios sobre la aplicacion
				.item2
					a Logout

		ul.nav
			li#descubre Descubre
			li#comparte Comparte
			li#coleciona Colecciona

	
	+pageContent
		+page
			.cardExpanded
				include cardExpanded
		
	.footer
		.Invite
			.btn.js-search Buscar mas amigos
			.btn.blue.js-invite Invitar

		.Card
			.btn.blue.js-invite Invitar

	script
		$(document).on('ready',home);
		$(document).on('ready',page.card);