.boxSlide.L1
	h3 Descubre por categoría
	ul
		li
			a(href='#')
				span.color.cat1
				span.text Comer y beber
		li
			a(href='#')
				span.color.cat2
				span.text Cultura
		li
			a(href='#')
				span.color.cat3
				span.text Deportes
		li
			a(href='#')
				span.color.cat4
				span.text Diversión

		li
			a(href='#')
				span.color.cat5
				span.text Noche

		li
			a(href='#')
				span.color.cat6
				span.text Social

		li
			a(href='#')
				span.color.cat7
				span.text Casero

.boxSlide.L2
	h3 Descubre por fecha
	ul

		li
			a(href='#')
				span.color.B1
				span.text Hoy

		li
			a(href='#')
				span.color.B2
				span.text Mañana

		li
			a(href='#')
				span.color.B3
				span.text Despúes

.boxSlide.L3
	h3 Descubre por otros
	ul
		li
			a(href='#')
				span.color.icon-user
				span.text Recomendaciones de amigos

		li
			a(href='#')
				span.color.B2
				span.text Barajas suscritas

		li
			a(href='#')
				span.color.B3
				span.text Lo mejor de la zona
